<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h2>Comparison Table</h2>

<table style="width:100%">
  <tr>
    <th> </th>
    <th>{{model1_name}}</th>
    <th>{{model2_name}}</th>
  </tr>
  <tr>
    <td> </td>
    <th><img src="{{model1_image}}" /></th>
    <th><img src="{{model2_image}}" /></th>
  </tr>
  <tr>
    <td>Price</td>
    <th>{{model1_price}}</th>
    <th>{{model2_price}}</th>
  </tr>
  <tr>
    <td>MRP</td>
    <th>{{model1_mrp}}</th>
    <th>{{model2_mrp}}</th>
  </tr>
  <tr>
    <td>Rating</td>
    <th>{{model1_rating}}</th>
    <th>{{model2_rating}}</th>
  </tr>
</table>


</body>
</html>