<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/find_price/hello/hi" method="post">
    {% csrf_token %}
        <!-- <label for="your_name">Your name: </label> -->
        <input id="your_name" type="text" name="model1" placeholder="Enter first model">
        <input id="your_place" type="text" name="model2" placeholder="Enter second model">
        <button type="submit" value="OK"> OK </button>
    </form>
</body>
</html>